
body {
    font-family: Arial, sans-serif;
    background-image: url("/login-image/background.avif");
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  .container {
    color: white;
    
    max-width: 400px;
    margin: 100px auto;
    background-image: url("/login-image/logoin2.jpg");
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    margin-bottom: 15px;
  }
  
  .foot-panel1{
    background-color: #37475a;
    color: white;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-log
{
    background-image: url();
    width: 100%;


}
  